<a href="https://colab.research.google.com/github/wj9304081/Task-08-HW-01/blob/main/%E8%B3%87%E6%96%99%E5%BA%ABAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import sqlite3
import datetime

conn = sqlite3.connect('example.db')
c = conn.cursor()

In [21]:
# 新增且清空資料表
c.execute('''CREATE TABLE IF NOT EXISTS pharmacies
             (city text, counts text, createdAt datetime)''')
c.execute('''DELETE FROM pharmacies''')
conn.commit()

In [22]:
# 新增資料
import requests
import json

# 把收集資料部分放在這邊
url = "https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json"
response = requests.get(url)
d = response.text
data = json.loads(d)

In [23]:
med_count = {}

# 將每一筆資料分別取出來新增到資料庫
for d in data['features']:
  county = d['properties']['address'][0:3]

  if county not in med_count:
      med_count[county] = 0
  med_count[county] +=1

  counts = med_count[county]

for city,counts in med_count.items():

  t = datetime.datetime.now()
  print(f"INSERT INTO stocks VALUES ('{city}', {counts}, '{t}')")
  c.execute(f"INSERT INTO pharmacies VALUES ('{city}', {counts}, '{t}')")
  conn.commit()

INSERT INTO stocks VALUES ('臺北市', 340, '2023-06-12 19:02:18.518293')
INSERT INTO stocks VALUES ('高雄市', 424, '2023-06-12 19:02:18.530154')
INSERT INTO stocks VALUES ('臺中市', 436, '2023-06-12 19:02:18.539862')
INSERT INTO stocks VALUES ('臺南市', 280, '2023-06-12 19:02:18.550190')
INSERT INTO stocks VALUES ('基隆市', 57, '2023-06-12 19:02:18.559114')
INSERT INTO stocks VALUES ('新竹市', 39, '2023-06-12 19:02:18.569484')
INSERT INTO stocks VALUES ('嘉義市', 67, '2023-06-12 19:02:18.577882')
INSERT INTO stocks VALUES ('新北市', 507, '2023-06-12 19:02:18.587053')
INSERT INTO stocks VALUES ('桃園市', 271, '2023-06-12 19:02:18.596956')
INSERT INTO stocks VALUES ('新竹縣', 48, '2023-06-12 19:02:18.610985')
INSERT INTO stocks VALUES ('宜蘭縣', 76, '2023-06-12 19:02:18.621324')
INSERT INTO stocks VALUES ('苗栗縣', 57, '2023-06-12 19:02:18.631345')
INSERT INTO stocks VALUES ('彰化縣', 181, '2023-06-12 19:02:18.641479')
INSERT INTO stocks VALUES ('南投縣', 67, '2023-06-12 19:02:18.651249')
INSERT INTO stocks VALUES ('雲林縣', 131, '2023-06-12 19:02:18.660334')
INSERT INTO stocks VALUES ('嘉義縣', 84, '2023-06-12 19:02:18.670860')
INSERT INTO stocks VALUES ('屏東縣', 140, '2023-06-12 19:02:18.681664')
INSERT INTO stocks VALUES ('澎湖縣', 11, '2023-06-12 19:02:18.689949')
INSERT INTO stocks VALUES ('花蓮縣', 47, '2023-06-12 19:02:18.700554')
INSERT INTO stocks VALUES ('臺東縣', 23, '2023-06-12 19:02:18.712274')
INSERT INTO stocks VALUES ('金門縣', 6, '2023-06-12 19:02:18.724296')
INSERT INTO stocks VALUES ('連江縣', 1, '2023-06-12 19:02:18.736632')

In [24]:
# 查詢資料
c.execute("SELECT * FROM pharmacies)
print(c.fetchall())

conn.commit()
conn.close()

[('基隆市', '57', '2023-06-12 19:02:18.559114'), ('嘉義市', '67', '2023-06-12 19:02:18.577882'), ('新北市', '507', '2023-06-12 19:02:18.587053'), ('宜蘭縣', '76', '2023-06-12 19:02:18.621324'), ('苗栗縣', '57', '2023-06-12 19:02:18.631345'), ('南投縣', '67', '2023-06-12 19:02:18.651249'), ('嘉義縣', '84', '2023-06-12 19:02:18.670860'), ('金門縣', '6', '2023-06-12 19:02:18.724296')]

In [7]:
import sqlite3
import datetime

conn = sqlite3.connect('example.db')
c = conn.cursor()

# 新增且清空資料表
c.execute('''CREATE TABLE IF NOT EXISTS masks
             (city text, counts text, createdAt datetime)''')
c.execute('''DELETE FROM masks''')
conn.commit()

# 新增資料

import requests
import json
url = "https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json"
response = requests.get(url)
d = response.text
data = json.loads(d)

mask_count={}

for d in data['features']:
    conunty = d['properties']['address'][0:3]
    if conunty not in mask_count:
        mask_count[conunty] = 0
    mask_count[conunty] = mask_count[conunty] + d['properties']['mask_adult']

for city,counts in mask_count.items():
  t = datetime.datetime.now() 
  c.execute(f"INSERT INTO masks VALUES ('{city}', {counts}, '{t}')")
  conn.commit()

# 查詢資料
c.execute("SELECT * FROM masks")
print(c.fetchall())

# conn.commit()
# conn.close()

[('臺北市', '323660', '2023-06-12 22:18:39.717735'), ('高雄市', '428940', '2023-06-12 22:18:39.736449'), ('臺中市', '556440', '2023-06-12 22:18:39.759302'), ('臺南市', '408400', '2023-06-12 22:18:39.779150'), ('基隆市', '80100', '2023-06-12 22:18:39.803359'), ('新竹市', '45630', '2023-06-12 22:18:39.821904'), ('嘉義市', '107840', '2023-06-12 22:18:39.838271'), ('新北市', '677660', '2023-06-12 22:18:39.859159'), ('桃園市', '345600', '2023-06-12 22:18:39.877154'), ('新竹縣', '53760', '2023-06-12 22:18:39.893692'), ('宜蘭縣', '106900', '2023-06-12 22:18:39.908382'), ('苗栗縣', '134180', '2023-06-12 22:18:39.923377'), ('彰化縣', '219400', '2023-06-12 22:18:39.939520'), ('南投縣', '91240', '2023-06-12 22:18:39.953619'), ('雲林縣', '199470', '2023-06-12 22:18:39.969596'), ('嘉義縣', '113180', '2023-06-12 22:18:39.983752'), ('屏東縣', '184250', '2023-06-12 22:18:39.996266'), ('澎湖縣', '12600', '2023-06-12 22:18:40.009066'), ('花蓮縣', '57330', '2023-06-12 22:18:40.022122'), ('臺東縣', '28510', '2023-06-12 22:18:40.034292'), ('金門縣', '15510', '2023-06-12 22:18:40.048591'), ('連江縣', '7930', '2023-06-12 22:18:40.061599')]